<h3>School Class Form</h3>

<%= form_tag school_classes_path do %>
    <%= label_tag('school_class[title]', "School Class Title") %>
    <%= text_field_tag('school_class[title]') %>

    <%= label_tag('school_class[room_number]', "School Class Room Number") %>
    <%= text_field_tag('school_class[room_number]') %>

    <%= submit_tag "Create School class" %>
<% end %> 